* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --mediumblack: #141922;
    --lightblack: #282828;
    --mediumgray: #808080;
    --green: #adff2f;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: calc(100vh - 5rem);
    position: relative;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}


/* header */
.head-container {
    width: 220px;
    height: calc(100vh - 5rem);
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 100%;
    height: 5rem;
}

.logo {
    width: 60%;
    margin: 1.3rem;
}

.nav-playlist {
    margin: .2rem 1.3rem;
}

.nav-playlist.one {
	height: calc(100vh - 26.5rem);
	overflow-y: auto;
}

.li-playlist {
    padding-bottom: .6rem;
}

.head-icons {
    width: 12%;
    vertical-align: middle;
}

.text-playlist {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: .8rem;
    vertical-align: middle;
    color: var(--mediumgray);
    padding-left: .4rem;
}

.text-playlist:hover {
    color: white;
}

.text-playlist.one {
    color: #f3f3f3;
    padding-left: .4rem;
}

.text-playlist.one.bigger {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: .9rem;
    padding-left: 0;
}

.pad {
    padding-top: .5rem;
}

.padleft {
    padding-left: 0;
}

.padbottom {
    padding-bottom: 0;
}

.margin {
    margin: 0 1.3rem;
}

.plus {
    width: 35px;
    height: 35px;
    background-color: #a3a3a3;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.make-playlist:hover .square {
    background-color: white;
}

.make-playlist:hover .text-playlist.medium {
    color:white;
}

.fas.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.1rem;
    padding-right: 0;
}

.text-playlist.medium {
    font-size: .9rem;
}

.text-playlist.one.username {
    font-size: .9rem;
    font-weight: bolder;
    padding-left: .5rem;
}

.head-bottom {
    width: 220px;
    height: 5rem;
}

.user {
    background-color: black;
    width: 220px;
    height: 5rem;
    position: fixed;
}

.hr {
    border: 1px solid var(--mediumgray);
    margin: .6rem 1.3rem .8rem;
}

.plus.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    padding: .5rem;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 90%;
}


/* main */
.main-container {
    width: calc(100% - 220px);
    height: calc(100vh - 5rem);
    background-color: var(--mediumblack);
    float: right;
    overflow-y: auto;
}

.main-top {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
	z-index: 1;
}

.upgrade {
    width: calc(100% - 220px);
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-playlist.subscription {
    color: white;
    text-transform: uppercase;
}

.btn-transparent {
    margin-right: 30px;
    padding: .6em 1.4em;
    line-height: 1.2rem;
    border-radius: 10em;
    border: 1px solid white;
}

.btn-transparent:hover {
    transform: scale(1.1);
}

.main-bottom {
    padding-top: 5rem;
}

.text-playlist.search {
    text-transform: uppercase;
    padding: .8rem;
    gap: 5px;
}

.ul-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.mark {
    margin-top: .2rem;
    margin-left: 2.7rem;
    width: 30px;
    border: .8px solid var(--green);
}

.listen,
.mix,
.popular {
    margin: 1rem 1.5rem;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
    padding-bottom: 1.1rem;
}

.songs {
    vertical-align: top;
    width: calc((100% - 168px) / 6);
    display: inline-block;
    margin-right: 20px;
}

.cover {
    width: 100%;
}

.cover.circle {
    border-radius: 50%;
}

h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: .6rem 0;
}

.small {
    text-align: center;
    font-size: .9rem;
    padding-left: 0; 
    padding-bottom: .8rem;
}

.text-playlist.small.suggest {
    text-align: left;
    padding-bottom: 1.1rem;
}


/* footer */
.foot-container {
    width: 100%;
    height: 5rem;
    background-color: var(--lightblack);
    display: flex;
    justify-content: space-between;
	position: fixed;
}

.col-left,
.col-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: pointer;
}

.footer-icon {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start {
    padding-left: .5rem;
}

.mini {
    width: 45px;
    height: 45px;
    background-color: #adff2f;
    display: flex;
    align-items: center;
}

.songname:hover {
    text-decoration: underline;
    /* display: flex; */
}

.col-middle {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.col-middle-top,
.col-middle-bottom {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.far {
    color: var(--mediumgray);
    padding-left: 1rem;
}

.far:hover {
    color: white;
}

.fas {
    color: white;
    padding-right: 1.1rem;
}

.far.fa-play-circle {
    color: white;
    font-size: 30px;
    padding-right: 2.1rem;
}

.far.fa-play-circle:hover {
    transform: scale(1.2);
}

.time {
    width: 500px;
    height: 5px;
    line-height: 5px;
    border-radius: 5px;
    background-color: var(--mediumgray);
    margin: 0 1.2rem;
}

.time-remaining:hover {
    background-color: var(--green);
}

.time-remaining {
    width: 100px;
    height: 5px;
    line-height: 5px;
    background-color: #c1c1c1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.btn-white {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    visibility: hidden;
}

.time:hover .time-remaining {
    background-color: var(--green);
}

.time:hover .btn-white {
    visibility: visible;
}

.audio {
    width: 110px;
    height: 5px;
    line-height: 5px;
    border-radius: 5px;
    background-color: var(--mediumgray);
    margin: 0 .5rem;
}

.audio-remaining {
    width: 30px;
    height: 5px;
    line-height: 5px;
    background-color: #c1c1c1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.audio:hover .audio-remaining {
    background-color: var(--green);
}

.audio:hover .btn-audio {
    visibility: visible;
}

.btn-audio {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    visibility: hidden;
}








